@charset "utf-8";

header {
    position: sticky;
}

h1 {
    font-size: var(--big-text-heading);
    width: max-content;
    padding: 0.5em;
    margin: auto;
    text-align: center;
}

/* About Us Text */
.who-we-are h2 {
    font-size: var(--big-text-heading);
}

.who-we-are p {
    font-size: var(--large-text-font-size);
}
