@charset "utf-8";


.grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 2em;
    width: 80%;
    margin: auto;

}

.inner-card {
    padding: 1em;
    margin: auto;
}

.inner-card img {
    margin: auto;
    width: 50%;
}

.menu-item-name {
    font-size: var(--small-text-heading);
}

.menu-item-price {
    font-size: var(--large-text-font-size);
}

@media only screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 720px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}