@import url(../../css/master_style.css);

:root {
    --doc-background-color: transparent;
}

html, body {
    background-color: transparent;
}

.inner-card,
.inner-card img {
    border-radius: 1em;
}

.inner-card img {
    width: 100%;
    margin: auto;
}
.menu-item-name {
    font-weight: var(--bold-font-weight);
}