@charset "utf-8";


.flex-container {
    flex: 1, 1, 1;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
}

.menu-card {
    width: clamp(128px, 20vw, 256px);
    padding: 1em;
    margin: auto;
}

.menu-card img {
    margin: auto;
    width: 100%;
}

.menu-item-name {
    font-size: var(--small-text-heading);
}

.menu-item-price {
    font-size: var(--medium-text-font-size);
}