@charset "utf-8";

.landing {
    --text-color: #202020;

}

.landing h1 { 
    font-family: var(--logo-font);
    color: var(--text-color);
    text-shadow: 15px 10px 10px rgba(145, 145, 145, 0.614);
}

.menu-link a {
    --shadow-col: #20202080;
    
    background-color: var(--accent-col);
    color: rgb(20, 20, 20);
    text-decoration: none;
    box-shadow: 6px 6px 2px var(--shadow-col);

    transition: background-color box-shadow transform;
    transition-duration: 0.25s;
}

.menu-link a:hover {
    background-color: var(--accent-col-desat);
}

.menu-link a:active {
    box-shadow: 4px 4px 2px var(--nav-shadow-color);

}

.menu-link a:active {
    transform: translate(1px, 1px);
}

/* open hours schedule */
.schedule {
    margin: 0px;
}
.opening-hours-table {
    width: 90%;
    margin: auto;
    border: 8px ridge #747474;
    border-collapse: collapse;
    text-align: center;
}


.schedule table  td,
.schedule table  th {
    padding: 0.75em;
    border: 1px solid #202020;
}

.description h1 {
    font-family: var(--heading-font);
}

.description img {
    outline: 16px ridge white ;
}