@charset "utf-8";

header {
    position: sticky;
    top: 0;
}

main .grid-container {
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
    margin: 2em auto;
    max-width: 1024px;
}

main .grid-container img {
    width: 75%;
    justify-self: center;
    aspect-ratio: 1/1;
}

@media only screen and (max-width: 1024px) {
    main .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 720px) {
    main .grid-container {
        grid-template-columns: 1fr;
    }
}