@charset "utf-8";

header {
    position: sticky;
    top: 0;
}

main .grid-container {
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
}

main .grid-container img {
    width: 75%;
    max-width: 1024px;
    justify-self: center;
}

@media screen {
    
}