@charset "utf-8";

.landing {
    height: 100vh;
    min-height: 100svh;
}

.landing .flex-container {
    padding: 5%;
}
.about-us h1 {
    font-size: var(--h1-font-size);
    width: auto;
    padding: 1em;
}
.mission-statement {
    width: 80%;
    padding: 1em;
    margin:  1em auto;
    font-size: 1.75em;
}

.about-us h1 {
    width: max-content;
    text-align: center;
}

/* Mission Statement */
.mission-statement::before,
.mission-statement::after {
    display: block;
    font-size: 5em;
}

.mission-statement::before {
    content: open-quote;
}

.mission-statement::after {
    content: close-quote;
    text-align: right;
}


/* About Us Text */
.who-we-are h2 {
    font-size: var(--h2-font-size);
}

.who-we-are p {
    font-size: var(--p-text-font-size);
}