@charset "utf-8";

.landing {
    height: 100svh;
    outline: 0px 0px 2px 0px solid rgba(122, 122, 122, 0.236);
}

.about-us-heading,
.mission-statement {
    width: 80%;
    padding: 1em;
    margin:  1em auto;
    font-size: 1.75em;
}

.about-us-heading {
    width: max-content;
    text-align: center;
}

/* Mission Statement */
.mission-statement::before,
.mission-statement::after {
    display: block;
    font-size: 5em;
}

.mission-statement::before {
    content: open-quote;
}

.mission-statement::after {
    content: close-quote;
    text-align: right;
}


/*  */