@charset "utf-8";

.landing{
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    margin: 0px 0px 2em 0px;
    overflow: hidden;

    height: 100vh;
    height: 100svh;

    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing::before {
    content: "";
    position: absolute;
    background: url("../../images/index/landing_background.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    inset: 0;
    opacity: 25%;
}

.landing h1 {
    grid-column: 1/-1;
    width: 75%;
    font-size: 7.5em;
    margin: 0.5em;
}

.menu-link {
    grid-row: 2/3;
    justify-self: center;
    text-align: center;
}

.menu-link a {
    display: block;
    margin:2em;
    padding: 1em .5em;
    border-radius: 1em;
    font-size: 1.5em;
}

.flex-container {
    display: flex;
    flex-direction: column;
}
/* Schedule-related*/
    /* Opening Hours */
.schedule {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.opening-hours-table {
    margin: auto;
    width: 90%;
}

.opening-hours h1 {
    text-align: center;
    font-size: 2em;
} 
    /* Reservation */
.reservation-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservation-action h1 {
    text-align: center;
    font-size: 2em;
}
.reservation-link {
    margin: auto;
}

/* Description */
.description {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 4fr;
}

.description h1 {
    grid-column: 2/-1;
    grid-row: 2/3;
    font-size: 4em;
}


.description p {
    grid-column: 2/-1;
    grid-row: 3/-1;
    align-self: baseline;
    font-size: 2em;
}

.description img {
    grid-row: 1/-1;
    justify-self: center;
    vertical-align: middle;
    width: 75%;
}

@media only screen and (max-width: 1220px) {
    .landing {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .landing h1 {
        width: 100%;
        margin: auto;
        font-size: 2em;
    }
}

@media only screen and (max-width: 830px) {
    .landing h1 {
        font-size: 5em;
    }
}