section {
    margin: 2em
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    --text-color: #202020;
    margin: 0px 0px 2em 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home::after {
    content: "";
    position: absolute;
    background: url("../../images/index/home_background.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    inset: 0;
    opacity: 25%;
    /* object-fit: fill; */
}

.home h1 {
    grid-column: 1/-1;
    width: 75%;
    border-radius: 1em;
    font-family: var(--logo-font);
    color: var(--text-color);
    font-size: 7.5em;
    margin: 0.5em;
    text-shadow: 15px 10px 10px rgba(145, 145, 145, 0.614);

}

.menu-link {
    justify-self: center;
    text-align: center;
}

.menu-link a {
    display: block;
    margin:2em;
    padding: 1em .5em;
    border-radius: 1em;
    background-color: var(--accent-col);
    font-size: 1.5em;
    color: rgb(20, 20, 20);
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.schedule {
    width: 100%;
}
.schedule table {
    margin: auto;
    border:1px solid #202020;
    border-collapse: collapse;
}

.schedule table >td,
.schedule table >th {
    border: 1px solid #202020;
}

.description {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.description img {
    outline: 16px ridge white ;
    justify-self: center;
    width: 75%;
}

.description p {
    font-size: 2em;
}
