@charset "utf-8";

header {
    position: sticky;
}


main {
    padding: 0;
}

main .flex-container {
    grid-template-columns: 1fr 3fr;
    gap: 1em;
}

.menu-container {
    width: 100%;
    height: 75vh;
    height: 75svh;
}