@charset "utf-8";

header {
    position: sticky;
}


main {
    padding: 0;
}

main .flex-container {
    gap: 1em;
    flex-direction: row;
}

#menu-container {
    width: 100%;
    height: 60vh;
    height: 60svh;
}