@charset "utf-8";

main > .flex-container {
    flex-direction: column;
    gap: 2em;
    padding: 10em auto;
    margin: 2em auto;
}

.landing {
    height: 100vh;
    height: 100svh;
}

.landing .grid-container{
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 2fr 1fr;
    width: 85%;
    height: 80%;
    max-height: 100vh;
    margin: auto;
    margin-top: 4em;
}

.landing h1 {
    margin: inherit;
    grid-column: 1/-1;
    width: 25ch;
    height: min-content;
    font-size: var(--big-text-heading);
    margin-left: 0;
    margin-top: 2em;
}

.landing::before {
    content: "";

    position: absolute;
    
    background: url("../../images/index/thumbnail/back_thumb.jpeg");
    background-size: cover;
    background-position: center;
    
    z-index: -1;
    inset: 0;
    
    height: inherit;
    opacity: 25%;
}

.landing, .landing::before {
    min-height: 890px;
}

.menu-link {
    grid-row: 2/3;
    
    justify-self: center;
    align-self: start;
    text-align: center;


    width: 50%;
    margin: 3em;
}

.menu-link span {
    font-size: var(--small-text-heading);
}

.menu-link a {
    display: block;
    
    margin: 2em;
    padding: 1em .5em;
    
    border-radius: 1em;
    font-size: clamp(0.5em, 2vw + 1em, 2em);
}

/* Blockquote */
.quote {
    width: 80%;
    margin: auto;
}

.quote blockquote {
    padding: 1em;
    margin: auto;
    font-size: clamp(1.75em, 1vw + 1em, 3.5em);
}

.quote blockquote::before,
.quote blockquote::after {
    display: block;
    font-size: clamp(1.75em, 1vw + 2em, 5.25em);
}

.quote blockquote::before {
    content: open-quote;
}

.quote blockquote::after {
    content: close-quote;
    text-align: right;
}

/* selling points */
.selling-points.grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 3fr;
    
    align-items: center;
    justify-content: center;

}

.selling-points {
    padding: max(10px, 1em);
    height: 100vh;
    min-height: 960px;
}

.selling-points .grid-container {
    align-self: stretch;
}

.selling-points h2 {
    grid-row: 1/2;
    grid-column: 1/-1;
    align-self: end;

    font-size: var(--medium-text-heading);
    padding: 0px 1ch;
}

.selling-points p {
    grid-row: 2/-1;
    align-self: start;

    font-size: clamp(1em, 1vw + 1em, 8em);
    padding: 1ch;
}

.selling-points img {
    margin: 4em auto;
    grid-row: 2/-1;
    justify-self: first baseline;
    align-self: start;
    width: 75%;
    max-width: 800px;
}

/* selling-point-1 */
.selling-point-1 h2 {
    justify-self:last baseline;
}

.selling-point-1 p {
    grid-column: 2/-1;
}

.selling-point-2 h2 {
    grid-column: 1/-1;
    justify-self: first baseline;
}

.selling-point-2 p {
    grid-column: 1/2;
}

.night-work-img {
    grid-column: 2/-1;
}

/* Schedule-related*/
    /* Opening Hours */
.schedule span {
    display: block;
    text-align: center;
    font-size: clamp(4em, 1vw + 4em, 32em);
    font-weight: var(--bold-font-weight);
    padding: 0.5em;
}

.schedule .container {
    overflow-x: auto;
}

.schedule .flex-container{
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2em auto;
}

.opening-hours h2,
.reservation-action h2 {
    font-size: var(--small-text-heading);
}

.opening-hours-table {
    margin: auto;
    font-size: var(--medium-text-font-size);    
}

.schedule table td,
.schedule table th {
    text-align: center;
    padding: 0.75em;
}


.opening-hours h2 {
    text-align: center;
} 

    /* Reservation */
.reservation-action {
    justify-content: center;
}
.reservation-action h2 {
    text-align: center;
}

.reservation-link img {
    display: block;
    margin: auto;
}

/* Music Section */
.focus-mode .flex-container {
    flex-direction: column;
    padding: 1em;
}

.focus-mode  h2 {
    text-align: center;
    font-size: var(--medium-text-heading);
}

.focus-mode p {
    text-align: center;
    font-size: var(--large-text-font-size);
}

.focus-mode iframe {
    width: 50%;
    aspect-ratio: 16 / 9;
    margin: 2em auto;

}

    /* Media Queries */
@media only screen and (max-width: 1440px) {
    .landing h1 {
        text-align: center;
        margin: auto;
        width: 80%;
    }
}
@media only screen and (max-width: 1280px) {
    .landing .grid-container {
        grid-template-columns: 1fr;
        justify-content: first baseline;
        margin-top: 2em;
    }

    .landing h1 {
        font-size: clamp(3.5em, 1vw + 3.5em, 4.50em);
        text-align: center;
    }

    .landing h2 {        
        margin: auto;
    } 
}

@media only screen and (max-width: 1150px) {
    
}

@media only screen and (max-width: 1024px) {
    .heading h1 {
        margin-top: auto;

        align-self: first baseline;
        font-size: clamp(3em, 1vw + 2em, 4em);
    }
    
    .selling-points.grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 3fr;

        margin-bottom: 4em;
    }


    .selling-points h2,
    .selling-points img,
    .selling-points p {
        grid-column: initial;
    }

    .selling-points h2 {
        margin: auto;
        text-align: center;
        justify-self: center;
    }

    .selling-points img {
        width: 50%;
        grid-row: 2/3;
    }

    .selling-points p {
        grid-row: 3/4;

        font-size: clamp(1em, 1vw + 1em, 2em);
    }
    
    .opening-hours-table {
        font-size: var(--small-text-font-size);
    }
}

@media only screen and (max-width: 900px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 800px) {
    .landing .grid-container h1 {
        font-size: clamp(3em, 1vw + 2em, 2em);
    }
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 360px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        max-width: 256px;
    }
}