@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;600&display=swap');
* {
    font-family: var(--large-text-font);
}

/* variables */
:root {
    /* typography */
        /* font-type */
    --logo-font: 'Playfair Display', serif;
    --large-text-font: 'Lexend', sans-serif;
    --quote-font: 'Lexend', sans-serif;

    --heading-font: var(--logo-font);

    /* fontweight */
    --quote-font-weight: 600;
    /* color */
        
        /* background */
    --doc-background-color: linear-gradient(to bottom, rgb(255, 211, 128), rgb(255, 128, 128));
        
        /* doc */
    --primary-col: #ff7b23;
    --secondary-col: #fff674; 
    --accent-col: #8bbaff;
         
    --primary-col-desat: #ffb482;
    --secondary-col-desat: #fff9ac; 
    --accent-col-desat: #bfd9ff;
    
    /* semi-transparent */
    --primary-col-transparent: #ff7b2388;
    --secondary-col-transparent: #fff67488; 
    --accent-col-transparent: #8bbaff88;

        /* shadow */
    --nav-shadow-color: rgba(146, 72, 22, 0.581);
    
        /* footer */
    --footer-link-font-color: rgb(211, 211, 211);
}

html {
    background: var(--doc-background-color) no-repeat;
}

/* Header Styling */
header {
    --accent-col: #8ab9fff0;
    --accent-col-partial-transparent: #8bb9ffb6;
    --accent-col-transparent: #8bb9ff05;

    background: linear-gradient(to bottom, var(--accent-col), var(--accent-col-partial-transparent), var(--accent-col-transparent));
}

span.name {
    font-family: var(--logo-font);
}


    /* nav style */

#desktop-nav .nav-list a,
#mobile-nav .nav-list a {
    --primary-col: #e8701a;
    
    color: white;
    background-color: var(--primary-col);

    border-radius: 8em;

    text-decoration: none;
    font-family: var(--large-text-font);
    text-align: center;
    transition-property: transform, color, box-shadow;
    transition-duration: 0.1s;
    box-shadow: 3px 3px 2px  2px var(--nav-shadow-color);
}

.nav-list a:hover {
    background-color: var(--primary-col-desat);
    color: black;

}

.nav-list a:active {
    box-shadow: 1.5px 1.5px 2px var(--nav-shadow-color);
}

.nav-list a:active,
.nav-list li:active {
    transform: translate(1px, 1px);
}

#mobile-nav {
    background-color: rgba(0, 0, 0, 0.202);
}

#mobile-nav img {
    background-color: rgba(255, 255, 255, 0.276);
    border-radius: 50%;
}

#mobile-nav .nav-list {
    background-color: var(--accent-col-desat);
    border-radius: 4em;
}

#mobile-nav img,
#mobile-nav .nav-list {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.345);
}


/* footer */
footer {
    color: white;
    background-color: black;

}

footer a {
    color: var(--footer-link-font-color);
    text-decoration: none;
}

.quick-links > ul > li, 
.social-media > ul > li {
    list-style: none;
}

footer a {
    color: var(--footer-link-font-color);
    text-decoration: none;
}

/* Other Elements */
h1, h2 {
    font-family: var(--heading-font);
}

blockquote {
    font-weight: var(--quote-font-weight);
}