/* Reset */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* quick nav for accessibility */
#skip-nav {
    position:absolute;
    pointer-events: none;
    color: transparent;
    top: 0;
    left: 0;
}

#skip-nav:focus { color: white;}

/* header layout */
header {
    pointer-events: auto;
    display: flex;
    
    position: sticky;
    top: 0px;
    
    z-index: 1000;
    
    padding: 10px 5px;    
    align-items: center;
}

.logo-name {
    display: flex;
}


.logo {
    width: 5em;
    margin: 0.5em;
}

.name {
    text-align: center;
}


/* nav layout */
header nav {
    /* margin: 10px; */
    display: flex;
    flex-grow: 5;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    
    list-style: none;
}

.nav-list > li {
    padding: 0;

}

.nav-list a {
    margin: .5em;
    padding: .5em;
    border-radius: 2em;
    text-align: center;
    transition: all;
}



/* footer layout */
footer {
    display: grid;
    grid-template-rows: 3fr .1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px;
}

.banner {
    width: 720px;
}

footer > .social-media > ul {
    display: flex;
    justify-content: space-around;
    
}

footer .quick-links,
footer .social-media {
    padding: 1em
}

.copyright {
    grid-column: span 3;
    text-align: center;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    align-content: center;
}