@charset "utf-8";

/* class-specific styling */

/* Flex-Box */
.flex-container {
    display: flex;
}

    /* Grid */
.grid-container {
    display: grid;
}

/* Body Reset */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Quick nav for accessibility */
#skip-nav {
    position:absolute;
    pointer-events: none;
    color: transparent;
    top: 0;
    left: 0;
}

#skip-nav:focus { color: white;}

/* header layout */

header.flex-container {
    align-items: center;
}

header {
    pointer-events: auto;
    
    position: fixed;
    width: 100%;
    top: 0px;
    
    z-index: 2;
    
    padding: 10px 5px;    
}

.logo-name.flex-container {
    align-items: center;
}


.logo {
    width: 5em;
    margin: 0.5em;
}

.name {
    text-align: center;
    font-size: max(2.25em);
}


/* nav layout */
nav.flex-container {
    flex-grow: 5;
    justify-content: flex-end;
    align-items: center;
}

    /* nav list */
.nav-list.flex-container {
    justify-content: flex-end;
}

.nav-list {
    margin: 0;
    padding: 1em;
    
    list-style: none;
}

.nav-list > li {
    padding: 0;

}

.nav-list a {
    margin: .5em;
    padding: .5em;
    border-radius: 2em;
    text-align: center;
    transition: all;
}



/* footer layout */
footer {
    padding: 16px;
}

footer > .flex-container {
    justify-content: space-between;

    width: 100%;
}

.banner {
    width: 720px;
}

/* .social-media > ul > li::before {
    content: url();
} */

footer > .flex-container .quick-links,
footer > .flex-container .social-media {
    padding: 1em
}

.copyright {
    text-align: center;
}

button {
    display: none;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

/* main */
main .flex-container {
    flex-direction: column;
    width: clamp(720px, 75%, 1920px);
    margin: auto;

}

main {

    align-content: center;
}

@media only screen and (max-width: 875px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    
    header {
        justify-content: center;
    }
    
    header nav {
        display: none;
    }

    button {
        display: block;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}