@charset "utf-8";

/* Layout Variables */
:root {
    --big-text-heading: clamp(4em, 1vw + 4em, 12em);
    --medium-text-heading: clamp(3em, 1vw + 3em, 8em);
    --small-text-heading: clamp(2em, 1vw + 2em, 6em);
    
    --large-text-font-size: clamp(1em, 1vw + 1em, 2em);
}
/* class-specific styling */

/* Flex-Box */
.flex-container {
    display: flex;
    
}

    /* Grid */
.grid-container {
    display: grid;
}

/* Body Reset */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Quick nav for accessibility */
#skip-nav {
    position:absolute;
    pointer-events: none;
    color: transparent;
    top: 0;
    left: 0;
}

#skip-nav:focus { color: white;}

/* header layout */
header {
    position: fixed;
    pointer-events: auto;
    
    width: 100%;
    top: 0px;
    z-index: 10;
    overflow: hidden;
}

header .flex-container {
    justify-content: flex-end;
    
    align-items: center;
    margin: 0.25em 1em;
}

.logo-name.flex-container {
    align-items: center;
}


.logo {
    width: 5em;
    margin: 0.5em;
}

.name {
    text-align: center;
    font-size: max(2.25em);
}


/* nav layout */
    /* nav list */
.nav-list {
    padding: 1em;
    
    list-style: none;
}

.nav-list > li {
    padding: 0;
    text-align: center;
}

.nav-list a {
    margin: .5em;
    padding: .5em;
    border-radius: 2em;
    text-align: center;
    transition: all;
}


        /* desktop nav */
#desktop-nav {
    flex-grow: 1;
    align-content: center;
}
#desktop-nav.nav-list.flex-container {
    justify-content: space-evenly;
}

/* default mobile nav */
#mobile-nav {
    inset: 100%;
    position: absolute;
    display: none;
}

/* footer layout */
footer {
    width: auto;
    height: auto;

    /* padding: 16px; */
}

footer .flex-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner {
    width: clamp(360px, 10% + 1vw, 720px );
}

/* .social-media > ul > li::before {
    content: url();
} */

footer > .flex-container .quick-links,
footer > .flex-container .social-media {
    padding: 1em
}

.copyright {
    text-align: center;
}

/* main */
main .grid-container,
main .flex-container {
    width: 80%;
    margin: auto;
    padding: 4em 0;
}

/* main layout */
main {
    align-content: center;
}

/* Script Classes */
.hidden {
    display: none;
}

#nav-button {
    display: block;
    bottom: 4px;

    position: fixed;
    z-index: 9999;

    margin: auto;

}


/* Media Queries */
@media only screen and (max-width: 1600px) {
    main .grid-container {
        width: 90%;
    }
}

@media only screen and (max-width:1024px) {
    header {
        position: static;

        z-index: 1;
    }

    .logo-name.flex-container {
        margin: auto;
    }

    .quick-links ul > li,
    .social-media ul > li {
        margin-bottom: 1em;
    }

    #desktop-nav {
        display: none;
    }

            /* mobile nav */
#mobile-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
    justify-content: center;
    
    z-index: 8;
    margin: auto;
    padding: 2em;
    justify-content: flex-end;
    overflow: hidden;
}

#mobile-nav.flex-container{
    flex-direction: column;
}

#mobile-nav ul.flex-container {
    justify-content: space-evenly;
}

#mobile-nav .nav-list {
    flex-direction: column;
    margin: auto;
    height: 50%;
    width: 36%;
    padding: 4em 2em;
    justify-content: center;
}

#mobile-nav .nav-list li {
    margin: 0.5em;
    flex: 1;
}

#mobile-nav a {
    font-size: var(--large-text-font-size);
    width: 100%;
}

#mobile-nav img {
    width: min(25vh ,128px);
    padding: 1em;
    margin: auto;
}
}

@media only screen and (max-width: 900px) {
    header .flex-container {
        position: static;
        margin: auto;

        flex-direction: column;
        justify-content: center;
    }
    
    .logo-name.flex-container {
        flex-direction: row;
    }

}

@media only screen and (max-width: 800px) {
    footer .flex-container {
        width: 90%;
        margin: auto;
    }   
}