@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@font-face {
    font-family: 'Lexend';
    src: url(_fonts/LexendDeca-VariableFont_wght.ttf);
}

* {
    font-family: var(--large-text-font);
}

/* variables */
:root {
    /* typography */
    --logo-font: 'Playfair Display', serif;
    --large-text-font: 'Lexend', sans-serif;

    /* color */
        /* background */
    --doc-background-color: linear-gradient(to bottom, rgb(255, 211, 128), rgb(255, 128, 128));
        /* doc */
    --primary-col: #ff7b23ff;
    --secondary-col: #fff674ff; 
    --accent-col: #8bbaffff;

        /* semi-transparent */
    --primary-col-transparent: #ff7b2388;
    --secondary-col-transparent: #fff67488; 
    --accent-col-transparent: #8bbaff88;

        /* footer */
    --footer-link-font-color: rgb(211, 211, 211);
}


/* Reset */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: var(--doc-background-color);
}

.logo {
    width: 5em;
    margin: 0 20px;
}


/* Header Styling */
header {
    padding: 10px 5px;    
    
    display: flex;

    position: sticky;
    top: 0px;

    z-index: 1000;

    background-image: linear-gradient(to bottom, var(--accent-col), var(--accent-col-transparent));
    align-items: center;
}

header h1 {
    font-family: var(--logo-font);
}

header nav {
    /* margin: 10px; */

    display: flex;
    flex-grow: 5;
    
    justify-content: flex-end;
}
    /* nav style */
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-list > li {
    margin: 0px 10px;
    padding: 1em;
    
    border-radius: 2em;
    background-color:  var(--primary-col);
    box-shadow: inset;
    text-align: center;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-family: var(--large-text-font);
    text-align: center;
}

/* footer */
footer {
    display: grid;
    grid-template-rows: .25fr 1fr .1fr;
    grid-template-columns: 1fr 1fr;
    color: white;
    background-color: black;
    padding: 16px;
}

.banner {
    grid-column: span 2;

    width: 360px;

}

.quick-links > ul > li, 
.social-media > ul > li {
    list-style: none;
}

footer a {
    color: var(--footer-link-font-color);
    text-decoration: none;
}

.copyright {
    grid-column: span 2;
    text-align: center;
}




/* temp */
main {
    height: 1000px;
}