@charset "utf-8";

/* Layout Variables */
:root {
    --h1-font-size: clamp(4em, 1vw + 4em, 32em);
    --h2-font-size: clamp(3em, 1vw + 3em, 24em);
    --p-text-font-size: clamp(1em, 1vw + 1em, 8em);
}
/* class-specific styling */

/* Flex-Box */
.flex-container {
    display: flex;
}

    /* Grid */
.grid-container {
    display: grid;
}

/* Body Reset */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Quick nav for accessibility */
#skip-nav {
    position:absolute;
    pointer-events: none;
    color: transparent;
    top: 0;
    left: 0;
}

#skip-nav:focus { color: white;}

/* header layout */

header.flex-container {
    align-items: center;
}

header {
    pointer-events: auto;
    
    position: fixed;
    width: 100vw;
    top: 0px;
    height: 10%;
    z-index: 2;
    
    padding: 10px 5px;    
}

.logo-name.flex-container {
    align-items: center;
}


.logo {
    width: 5em;
    margin: 0.5em;
}

.name {
    text-align: center;
    font-size: max(2.25em);
}


/* nav layout */
nav.flex-container {
    flex-grow: 5;
    justify-content: flex-end;
    align-items: center;
}

    /* nav list */
        /* desktop nav */
.desktop-nav.nav-list.flex-container {
    justify-content: space-around;
}
        /* mobile nav */
.mobile-nav {
    display: none;
    position: sticky;
    bottom: 0;
    justify-content: center;
}

.nav-list {
    margin: 0;
    padding: 1em;
    
    list-style: none;
}

.nav-list > li {
    padding: 0;

}

.nav-list a {
    margin: .5em;
    padding: .5em;
    border-radius: 2em;
    text-align: center;
    transition: all;
}

.mobile-nav .nav-list {
    justify-content: space-evenly;
}

.mobile-nav a {
    font-size: max(1vw + 0.25em, .75em);
}

/* footer layout */
footer {
    width: auto;
    height: auto;

    padding: 16px;
}

footer .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner {
    width: clamp(360px, 10% + 1vw, 720px );
}

/* .social-media > ul > li::before {
    content: url();
} */

footer > .flex-container .quick-links,
footer > .flex-container .social-media {
    padding: 1em
}

.links.flex-container {

}

.copyright {
    text-align: center;
}

button {
    display: none;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

/* main */
main .grid-container,
main .flex-container {
    width: 80%;
    margin: auto;
    padding: 4em 0
}

/* main layout */
main {
    align-content: center;
}

@media only screen and (max-width: 1600px) {
    main .grid-container {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {
    header .flex-container {
        flex-direction: column;
        justify-content: center;
    }
    
    .logo-name.flex-container {
        flex-direction: row;
    }

    .desktop-nav.flex-container {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

}

@media only screen and (max-width: 840px) {
    footer img {
        
    }
}

@media only screen and (max-width: 800px) {
    footer .flex-container {
        width: 90%;
    }   
}